html, body {
  height: 100%;
}

body {
  background: black;
  min-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}
.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
}

.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}

.bubble {
  position: absolute;
  background: black;
  opacity: 0.7;
  border-radius: 50%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

.bubble:nth-child(1) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(127px, 733px, 1654px);
  background: hsl(154deg, 70%, 50%);
}

.bubble:nth-child(2) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(700px, 280px, 147px);
  background: hsl(44deg, 70%, 50%);
}

.bubble:nth-child(3) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(333px, 39px, 1792px);
  background: hsl(301deg, 70%, 50%);
}

.bubble:nth-child(4) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(235px, 517px, 105px);
  background: hsl(81deg, 70%, 50%);
}

.bubble:nth-child(5) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(457px, 575px, 1314px);
  background: hsl(337deg, 70%, 50%);
}

.bubble:nth-child(6) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(972px, 653px, 979px);
  background: hsl(93deg, 70%, 50%);
}

.bubble:nth-child(7) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(977px, 650px, 701px);
  background: hsl(69deg, 70%, 50%);
}

.bubble:nth-child(8) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(779px, 242px, 68px);
  background: hsl(215deg, 70%, 50%);
}

.bubble:nth-child(9) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(661px, 225px, 1994px);
  background: hsl(288deg, 70%, 50%);
}

.bubble:nth-child(10) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(973px, 471px, 127px);
  background: hsl(156deg, 70%, 50%);
}

.bubble:nth-child(11) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(82px, 755px, 355px);
  background: hsl(346deg, 70%, 50%);
}

.bubble:nth-child(12) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(901px, 335px, 882px);
  background: hsl(43deg, 70%, 50%);
}

.bubble:nth-child(13) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(305px, 987px, 1894px);
  background: hsl(353deg, 70%, 50%);
}

.bubble:nth-child(14) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(831px, 457px, 656px);
  background: hsl(226deg, 70%, 50%);
}

.bubble:nth-child(15) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(992px, 857px, 189px);
  background: hsl(95deg, 70%, 50%);
}

.bubble:nth-child(16) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(741px, 658px, 287px);
  background: hsl(230deg, 70%, 50%);
}

.bubble:nth-child(17) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(86px, 485px, 877px);
  background: hsl(247deg, 70%, 50%);
}

.bubble:nth-child(18) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(925px, 533px, 705px);
  background: hsl(242deg, 70%, 50%);
}

.bubble:nth-child(19) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(121px, 727px, 1713px);
  background: hsl(195deg, 70%, 50%);
}

.bubble:nth-child(20) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(253px, 64px, 392px);
  background: hsl(20deg, 70%, 50%);
}

.bubble:nth-child(21) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(838px, 82px, 1326px);
  background: hsl(136deg, 70%, 50%);
}

.bubble:nth-child(22) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(243px, 387px, 190px);
  background: hsl(222deg, 70%, 50%);
}

.bubble:nth-child(23) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(551px, 303px, 795px);
  background: hsl(291deg, 70%, 50%);
}

.bubble:nth-child(24) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(849px, 58px, 561px);
  background: hsl(155deg, 70%, 50%);
}

.bubble:nth-child(25) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(815px, 62px, 592px);
  background: hsl(4deg, 70%, 50%);
}

.bubble:nth-child(26) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(531px, 634px, 964px);
  background: hsl(283deg, 70%, 50%);
}

.bubble:nth-child(27) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(22px, 506px, 1482px);
  background: hsl(65deg, 70%, 50%);
}

.bubble:nth-child(28) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(664px, 379px, 1053px);
  background: hsl(333deg, 70%, 50%);
}

.bubble:nth-child(29) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(507px, 121px, 1092px);
  background: hsl(268deg, 70%, 50%);
}

.bubble:nth-child(30) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(50px, 305px, 834px);
  background: hsl(259deg, 70%, 50%);
}

.bubble:nth-child(31) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  transform: translate3d(85px, 921px, 1057px);
  background: hsl(273deg, 70%, 50%);
}

.bubble:nth-child(32) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  transform: translate3d(101px, 444px, 1501px);
  background: hsl(23deg, 70%, 50%);
}

.bubble:nth-child(33) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  transform: translate3d(871px, 417px, 390px);
  background: hsl(249deg, 70%, 50%);
}

.bubble:nth-child(34) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  transform: translate3d(572px, 481px, 179px);
  background: hsl(307deg, 70%, 50%);
}

.bubble:nth-child(35) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  transform: translate3d(850px, 588px, 1036px);
  background: hsl(2deg, 70%, 50%);
}

.bubble:nth-child(36) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  transform: translate3d(290px, 46px, 275px);
  background: hsl(336deg, 70%, 50%);
}

.bubble:nth-child(37) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  transform: translate3d(169px, 36px, 475px);
  background: hsl(96deg, 70%, 50%);
}

.bubble:nth-child(38) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  transform: translate3d(920px, 473px, 1905px);
  background: hsl(213deg, 70%, 50%);
}

.bubble:nth-child(39) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  transform: translate3d(525px, 138px, 667px);
  background: hsl(153deg, 70%, 50%);
}

.bubble:nth-child(40) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  transform: translate3d(762px, 77px, 491px);
  background: hsl(221deg, 70%, 50%);
}

.bubble:nth-child(41) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  transform: translate3d(942px, 826px, 531px);
  background: hsl(25deg, 70%, 50%);
}

.bubble:nth-child(42) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  transform: translate3d(688px, 924px, 1472px);
  background: hsl(14deg, 70%, 50%);
}

.bubble:nth-child(43) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  transform: translate3d(748px, 643px, 665px);
  background: hsl(107deg, 70%, 50%);
}

.bubble:nth-child(44) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  transform: translate3d(269px, 581px, 1582px);
  background: hsl(174deg, 70%, 50%);
}

.bubble:nth-child(45) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  transform: translate3d(299px, 376px, 603px);
  background: hsl(85deg, 70%, 50%);
}

.bubble:nth-child(46) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  transform: translate3d(45px, 89px, 972px);
  background: hsl(179deg, 70%, 50%);
}

.bubble:nth-child(47) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  transform: translate3d(279px, 54px, 1983px);
  background: hsl(53deg, 70%, 50%);
}

.bubble:nth-child(48) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  transform: translate3d(239px, 759px, 280px);
  background: hsl(240deg, 70%, 50%);
}

.bubble:nth-child(49) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  transform: translate3d(675px, 203px, 1258px);
  background: hsl(218deg, 70%, 50%);
}

.bubble:nth-child(50) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  transform: translate3d(480px, 959px, 1306px);
  background: hsl(137deg, 70%, 50%);
}

.bubble:nth-child(51) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  transform: translate3d(87px, 373px, 93px);
  background: hsl(324deg, 70%, 50%);
}

.bubble:nth-child(52) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  transform: translate3d(208px, 418px, 1310px);
  background: hsl(145deg, 70%, 50%);
}

.bubble:nth-child(53) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
  transform: translate3d(798px, 747px, 1387px);
  background: hsl(328deg, 70%, 50%);
}

.bubble:nth-child(54) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  transform: translate3d(998px, 649px, 1547px);
  background: hsl(282deg, 70%, 50%);
}

.bubble:nth-child(55) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  transform: translate3d(664px, 703px, 505px);
  background: hsl(320deg, 70%, 50%);
}

.bubble:nth-child(56) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  transform: translate3d(362px, 374px, 549px);
  background: hsl(2deg, 70%, 50%);
}

.bubble:nth-child(57) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -11.4s;
          animation-delay: -11.4s;
  transform: translate3d(535px, 260px, 1532px);
  background: hsl(327deg, 70%, 50%);
}

.bubble:nth-child(58) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  transform: translate3d(680px, 397px, 554px);
  background: hsl(306deg, 70%, 50%);
}

.bubble:nth-child(59) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
  transform: translate3d(953px, 371px, 1014px);
  background: hsl(161deg, 70%, 50%);
}

.bubble:nth-child(60) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  transform: translate3d(388px, 51px, 1749px);
  background: hsl(211deg, 70%, 50%);
}

.bubble:nth-child(61) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  transform: translate3d(125px, 114px, 927px);
  background: hsl(341deg, 70%, 50%);
}

.bubble:nth-child(62) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  transform: translate3d(964px, 254px, 1481px);
  background: hsl(354deg, 70%, 50%);
}

.bubble:nth-child(63) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -12.6s;
          animation-delay: -12.6s;
  transform: translate3d(670px, 564px, 1263px);
  background: hsl(224deg, 70%, 50%);
}

.bubble:nth-child(64) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  transform: translate3d(398px, 469px, 1515px);
  background: hsl(258deg, 70%, 50%);
}

.bubble:nth-child(65) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  transform: translate3d(833px, 668px, 513px);
  background: hsl(32deg, 70%, 50%);
}

.bubble:nth-child(66) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  transform: translate3d(227px, 494px, 529px);
  background: hsl(247deg, 70%, 50%);
}

.bubble:nth-child(67) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  transform: translate3d(361px, 820px, 161px);
  background: hsl(96deg, 70%, 50%);
}

.bubble:nth-child(68) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  transform: translate3d(315px, 421px, 296px);
  background: hsl(10deg, 70%, 50%);
}

.bubble:nth-child(69) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -13.8s;
          animation-delay: -13.8s;
  transform: translate3d(981px, 505px, 857px);
  background: hsl(1deg, 70%, 50%);
}

.bubble:nth-child(70) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  transform: translate3d(278px, 310px, 458px);
  background: hsl(317deg, 70%, 50%);
}

.bubble:nth-child(71) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  transform: translate3d(537px, 277px, 998px);
  background: hsl(359deg, 70%, 50%);
}

.bubble:nth-child(72) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  transform: translate3d(410px, 666px, 317px);
  background: hsl(248deg, 70%, 50%);
}

.bubble:nth-child(73) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -14.6s;
          animation-delay: -14.6s;
  transform: translate3d(105px, 825px, 1605px);
  background: hsl(151deg, 70%, 50%);
}

.bubble:nth-child(74) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  transform: translate3d(700px, 973px, 1193px);
  background: hsl(204deg, 70%, 50%);
}

.bubble:nth-child(75) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  transform: translate3d(74px, 214px, 324px);
  background: hsl(233deg, 70%, 50%);
}

.bubble:nth-child(76) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  transform: translate3d(125px, 506px, 913px);
  background: hsl(315deg, 70%, 50%);
}

.bubble:nth-child(77) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -15.4s;
          animation-delay: -15.4s;
  transform: translate3d(294px, 778px, 521px);
  background: hsl(351deg, 70%, 50%);
}

.bubble:nth-child(78) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  transform: translate3d(653px, 320px, 793px);
  background: hsl(128deg, 70%, 50%);
}

.bubble:nth-child(79) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -15.8s;
          animation-delay: -15.8s;
  transform: translate3d(688px, 212px, 930px);
  background: hsl(205deg, 70%, 50%);
}

.bubble:nth-child(80) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  transform: translate3d(185px, 70px, 680px);
  background: hsl(172deg, 70%, 50%);
}

.bubble:nth-child(81) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -16.2s;
          animation-delay: -16.2s;
  transform: translate3d(194px, 778px, 280px);
  background: hsl(173deg, 70%, 50%);
}

.bubble:nth-child(82) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  transform: translate3d(627px, 641px, 1369px);
  background: hsl(245deg, 70%, 50%);
}

.bubble:nth-child(83) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -16.6s;
          animation-delay: -16.6s;
  transform: translate3d(793px, 273px, 346px);
  background: hsl(340deg, 70%, 50%);
}

.bubble:nth-child(84) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  transform: translate3d(734px, 7px, 845px);
  background: hsl(45deg, 70%, 50%);
}

.bubble:nth-child(85) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  transform: translate3d(857px, 410px, 1744px);
  background: hsl(218deg, 70%, 50%);
}

.bubble:nth-child(86) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  transform: translate3d(638px, 384px, 701px);
  background: hsl(256deg, 70%, 50%);
}

.bubble:nth-child(87) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -17.4s;
          animation-delay: -17.4s;
  transform: translate3d(977px, 326px, 971px);
  background: hsl(247deg, 70%, 50%);
}

.bubble:nth-child(88) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  transform: translate3d(431px, 338px, 1072px);
  background: hsl(297deg, 70%, 50%);
}

.bubble:nth-child(89) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -17.8s;
          animation-delay: -17.8s;
  transform: translate3d(717px, 988px, 210px);
  background: hsl(7deg, 70%, 50%);
}

.bubble:nth-child(90) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  transform: translate3d(13px, 538px, 101px);
  background: hsl(243deg, 70%, 50%);
}

.bubble:nth-child(91) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -18.2s;
          animation-delay: -18.2s;
  transform: translate3d(801px, 370px, 1440px);
  background: hsl(241deg, 70%, 50%);
}

.bubble:nth-child(92) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  transform: translate3d(908px, 923px, 1214px);
  background: hsl(264deg, 70%, 50%);
}

.bubble:nth-child(93) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -18.6s;
          animation-delay: -18.6s;
  transform: translate3d(990px, 320px, 1628px);
  background: hsl(218deg, 70%, 50%);
}

.bubble:nth-child(94) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  transform: translate3d(250px, 396px, 1883px);
  background: hsl(19deg, 70%, 50%);
}

.bubble:nth-child(95) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  transform: translate3d(83px, 526px, 359px);
  background: hsl(38deg, 70%, 50%);
}

.bubble:nth-child(96) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  transform: translate3d(658px, 795px, 1577px);
  background: hsl(67deg, 70%, 50%);
}

.bubble:nth-child(97) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -19.4s;
          animation-delay: -19.4s;
  transform: translate3d(998px, 712px, 1868px);
  background: hsl(326deg, 70%, 50%);
}

.bubble:nth-child(98) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  transform: translate3d(801px, 326px, 235px);
  background: hsl(175deg, 70%, 50%);
}

.bubble:nth-child(99) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -19.8s;
          animation-delay: -19.8s;
  transform: translate3d(233px, 664px, 237px);
  background: hsl(160deg, 70%, 50%);
}

.bubble:nth-child(100) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  transform: translate3d(970px, 735px, 1256px);
  background: hsl(175deg, 70%, 50%);
}/*# sourceMappingURL=sass2.css.map */